.marg-bot {
  margin-bottom: 0.5rem;
}
.view-btn {
  background-color: rgb(72, 82, 138);
}
.save-btn,
.view-btn,
.delete-btn {
  height: auto;
  width: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}
.fa-heart,
.fa-times {
  color: rgb(72, 82, 138);
}
